body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://t3.ftcdn.net/jpg/06/66/23/66/360_F_666236653_IRgApLeaDCXsIwepS38dY2CjF6KrkU8K.jpg');
    margin-top: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
